#root {
/*    max-width: 1280px;*/
    margin: 0 auto;
/*    padding: 2rem;*/
/*    text-align: center;*/
}

.icon-state-white {
    background: #fff;
}
.icon-state-gray {
    background: #e0e0e0;
}
.icon-state-success {
    background: #19b13d;
}
.icon-state-partial {
    background: linear-gradient(90deg, #19b13d 50%, #e34e53 50%) no-repeat;
}
.icon-state-failure {
    background: #e34e53;
}
.icon-state-skip {
    background: #ffbb4d;
    position: relative; /* Needed for absolute positioning of the ::after element */
}

.icon-state-skip::after {
    content: '×'; /* Unicode character for 'X' */
    color: red; /* Color of the 'X' */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(3deg); /* Centers the 'X' */
    font-size: 60px; /* Adjust as needed */
    font-family: "Irish Grover";
}

@media print {
    .no-print {
        display: none !important;
    }
}

/* gotcha */
